.header-appbar {
    box-shadow: none;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;


    .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .header-left{
            display: flex;
            align-items: center;

            .header-logo{
                font-family: "Imperial Script", cursive;
                font-size: 1.8rem;
            }
        }

        .header-middle{
            display: flex;
            gap: 5px;

            .header-nav-link{
                font-family: "Josefin Sans", sans-serif;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 0.9rem;
            }
        }

        .header-right{
            display: flex;
            align-items: center;
            justify-content: center;

            .header-tickets{
                padding: 10px;
            }
        }
    }
}