* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "New Icon Script";
  src: url("../assets/fonts/NewIconScript.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

//page background and base text color
body {
  margin: 0;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 80px 0;
}
