*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//page background and base text color
body {
    background-color: #091a01;
    color: #e4ddb4;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

html{
    scroll-behavior: smooth;
}

section{
    padding: 80px 0;
}